[Simple Ways To Extract Features From Date Variable Using Python](https://medium.com/@swethalakshmanan14/simple-ways-to-extract-features-from-date-variable-using-python-60c33e3b0501)

In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.preprocessing import MinMaxScaler , StandardScaler
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("data.CSV" )
data['Date'] = pd.to_datetime(data['Date'])
dataset=data.set_index(data['Date'], drop=False, append=False, inplace=False, verify_integrity=False).drop('Date', 1)
#dataset.head(2)
#data

<ipython-input-2-099338150358>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  dataset=data.set_index(data['Date'], drop=False, append=False, inplace=False, verify_integrity=False).drop('Date', 1)

In [3]:
data.dtypes

Date    datetime64[ns]
Load           float64
dtype: object

In [4]:
data

                    Date    Load
0    2019-12-27 15:00:00  2305.3
1    2019-12-27 15:00:00   975.1
2    2019-12-27 15:00:00   344.9
3    2019-12-27 15:00:00  5958.4
4    2019-12-27 16:00:00  1518.7
...                  ...     ...
1143 2019-12-31 23:00:00   835.6
1144 2019-12-31 23:00:00   309.9
1145 2019-12-31 23:00:00  5063.4
1146 2019-12-31 23:00:00   575.5
1147 2019-12-31 23:00:00  1608.3

[1148 rows x 2 columns]

In [7]:
data['month'] = data['Date'].dt.month #1-12
data['day'] = data['Date'].dt.day #1-365
data['hour'] = data['Date'].dt.hour
data['year'] = data['Date'].dt.year
data['quarter'] = data['Date'].dt.quarter #1-4
data['dayofweek'] = data['Date'].dt.dayofweek  #1-7  #Monday = 0 & Sunday = 6

data['dayofweek_name'] = data['Date'].dt.day_name()
data['is_weekend'] = np.where(data['dayofweek_name'].isin(['Sunday','Saturday']),1,0) #Whether the day is a weekend or not
#data[['Date','month']].head()

In [8]:
data

,Date,Load,month,day,hour,year,quarter,dayofweek,dayofweek_name,is_weekend
0,2019-12-27 15:00:00,2305.3,12,27,15,2019,4,4,Friday,0
1,2019-12-27 15:00:00,975.1,12,27,15,2019,4,4,Friday,0
2,2019-12-27 15:00:00,344.9,12,27,15,2019,4,4,Friday,0
3,2019-12-27 15:00:00,5958.4,12,27,15,2019,4,4,Friday,0
4,2019-12-27 16:00:00,1518.7,12,27,16,2019,4,4,Friday,0
...,...,...,...,...,...,...,...,...,...,...
1143,2019-12-31 23:00:00,835.6,12,31,23,2019,4,1,Tuesday,0
1144,2019-12-31 23:00:00,309.9,12,31,23,2019,4,1,Tuesday,0
1145,2019-12-31 23:00:00,5063.4,12,31,23,2019,4,1,Tuesday,0
1146,2019-12-31 23:00:00,575.5,12,31,23,2019,4,1,Tuesday,0
1147,2019-12-31 23:00:00,1608.3,12,31,23,2019,4,1,Tuesday,0